[Unit]
Description=Adobe Policy Server Monitor
ConditionPathExists=/opt/policy-server

[Service]
Type=oneshot
ExecStart=/opt/policy-server/policy-server-monitor
